.footer{
    background-color: var(--orange-background); 
    text-align: justify;
    font-size: 14px;
    font-family: var(--primary-font);
    color: var(--white-color);
    overflow: hidden;
    margin-top: 30px;
}
.sitemap ul>li {
    text-align: left;
    list-style: none;
    text-decoration: none;
    padding: 1px 5px;
    color:var(--black-color);
}
.sitemap ul>li>a{
    font-size: 14px;
    font-family: var(--primary-font);
    color:var(--white-color);
}
.sitemap ul>li>a:hover{
    text-decoration: none;
}
.footerBorderLine{
    text-align: center;
    color: var(--white-color);
    padding: 15px;
}
.textFooter{
    color: #000000;
}
.footPadBtm15{
    padding-bottom: 15px;
}