.enquiry h2{
    color: var(--orange-color);
    font-weight: bold;
}
.mandatory{
    color: red;
}
.formInput{
    margin-bottom: 15px;
}
.formInput label{
    margin-bottom: 10px;
    font-weight: normal;
    color: var(--white-color);
}
.formBtn button{
    padding: 7px 24px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    background: #ff6d00 none repeat scroll 0 0;
    border: 1px solid #ff6d00;
    border-radius: 2px;
    cursor: pointer;
}

.formBtn button:hover{
    padding: 7px 24px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    background: #e22000;
    border: 1px solid #e22000;
    border-radius: 2px;
}
.captchaError{
    color: #ff730d !important;
}
@media only screen and (max-width : 736px){
    .enquiry{
        padding-left: 0px;
        padding-right: 0px;
    }
    .enquiryform{
        padding-left: 0px;
        padding-right: 0px;
    }
    .formInput {
        padding-left: 0px;
        padding-right: 0px;
    }
    .formBtn{
        padding-left: 0px;
        padding-right: 0px;
    }
}