@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
.current, .current > a{
  /* color: #333 !important; */
}
.sbeHead{
  padding: 15px 0px !important;
}
.socialTwitter{
  cursor: pointer;
  color: var(--black-color) !important;
  padding: 4px;
  font-size: 20px;
  background: #44cef7;
}
.socialFacebook{
  cursor: pointer;
  color: var(--white-color) !important;
  padding: 4px 6px;
    font-size: 20px;
  background: #447bf7;
}
.socialGogle{
  cursor: pointer;
  color: var(--black-color) !important;
  padding: 4px;
  font-size: 20px;
  background: #f75d44;
}
.sbeHeader{
  /*background: var(--orange-background);*/
  background: var(--orange-background);
  border-color: transparent;
  font-weight: 600;
  border-radius: 0px;
  min-height: 40px !important;
  border: none;
}
.sbeNav li>a{
  padding-top: 10px !important; 
  padding-bottom: 10px !important;
  font-size: 15px;
  color: var(--white-color);
}
.sbeNav>li:hover, .sbeNav>li>a:hover{
  background-color: var(--orange-background);
  color: var(--black-color) !important;
}
.sbeDropdown{
  background: var(--orange-background);
}
.sbeDropdown>li>a:hover, .sbeDropdown>li:hover{
  color: var(--black-color) !important;
  text-decoration: none;
  background-color: var(--orange-background);
}
.sbeDropdown>li{
  border-top: 1px solid #ecdbbb;
}
.icon-bar {
  background: var(--white-background)
}
.marTop10{
  margin-top: 10px !important;
}
.marRight12{
  margin-right: 12px !important;
}
@media only screen and (min-width : 992px) and (max-width : 1200px ){
  .marTop10{
    margin-top: 10px !important;
  }
}
.marTopN10{
  margin-top: -30px !important;
}