body {
  font-family: var(--primary-font);
  background-color: #000 !important;
}
.orangeBackground{
  background: #f3b94d;
}
.textAlignRight{
  text-align: right;
}
:root {
  --orange-background:#f3b94d;
  --black-background:#000;
  --white-background:#fff;
  --orange-color:#f3b94d;
  --white-color:#fff;
  --black-color:#000;
  --primary-font:Arial, Helvetica, sans-serif;
}
.blackBg{
  background-color: var(--black-background) !important; 
}
.whiteColor{
  color: var(--white-color) !important;
}
.NOpadding{
  padding-left: 0px;
  padding-right: 0px;
}
.blockModal {
  margin-top: 15%;
}
.blockModal-body{
  text-align: center;
}
.cancelModal{
  background: var(--orange-background);
  border-radius: 20px;
  border: 1px solid #333;
}
.blockModal-body h4{
  font-size: 16px;
  font-weight: 600;
}
.error{
  color: #ff730d !important;
} 