body {
  background-color: #000 !important;
}
.orangeBackground{
  background: #f3b94d;
}
.textAlignRight{
  text-align: right;
}
:root {
  --orange-background:#f3b94d;
  --black-background:#333;
  --orange-color:#f3b94d;
  --white-color:#fff;
  --black-color:#333;

  --primary-font:Arial, Helvetica, sans-serif;
}